#!/usr/bin/env zsh

alias src='source "$HOME/.zshrc"'

# Good ol' clear abbr
alias cl='clear'

# Directory navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Neovim
alias nv='nvim'
alias nv.='nvim .'
alias nvpt='nvim --clean -u tests/minimal.lua'
alias nv_dotfiles='nvim "$DOTFILES"'

# Git
alias gi='git init -b main'
alias gs='git status'
alias ga='git add'
alias gas='git submodule add'
alias gco='git checkout'
alias gb='git branch'
alias gbd='git branch -d'
alias gbu='git branch --set-upstream-to=origin/main'
alias gar='git remote add'
alias grv='git remote -v'
alias gc='git commit -S'
alias gcm='git commit -S -m'
alias grs='git restore --staged'
alias gp='git push origin'
alias gpa='git push --recurse-submodules=on-demand origin'

# Utilities
alias aic='ascii-image-converter'

# Detect which `ls` flavor is available.
if command ls --color >/dev/null 2>&1; then
    export LS_COLORS='...'

    alias ls='command ls --color'
    alias l='ls -lF --color'
    alias la='ls -lAF --color'
    alias lsd="ls -lF --color | grep --color=never '^d'"
else
    export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'

    alias ls='command ls -G'
    alias l='ls -lF -G'
    alias la='ls -lAF -G'
    alias lsd="ls -lF -G | grep --color=never '^d'"
fi

# Always enable colored grep output.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Print the public IP address.
alias myip='curl -fsS https://ipecho.net/plain && echo'

# PlistBuddy alias, because sometimes `defaults` just doesn't cut it.
alias plistbuddy='/usr/libexec/PlistBuddy'

# Print each PATH entry on a separate line.
alias path='print -l -- $path'

# List installed font families.
alias lsfonts='fc-list : family | sort -u'
